Documentation/Video Demonstration/Embedded - Blynk App. Change values for banana or pineapple.mp4
Documentation/Video Demonstration/Embedded - Fan control.mp4
Documentation/Video Demonstration/Embedded - Humidity-check.mp4
Documentation/Video Demonstration/Embedded - Stepper motor for opening vent.mp4
Documentation/Video Demonstration/Embedded - Temperature-check - between upper ideal - upper max (high noise in the beginning, lower volume!).mp4
Documentation/Video Demonstration/Embedded - Temperature-check outside max temp.mp4
Documentation/Video Demonstration/Vent - Dummy values used for the video demonstration.png
Documentation/Blynk - My Devices.png
Documentation/Blynk App notification.png
Documentation/Blynk Datastreams.png
Documentation/Blynk Email notification.png
Documentation/Blynk Greenhouse.png
Documentation/Miro - Bad quality on free version.jpg
Documentation/PG5501 - Embedded Systems - Eksamen - Drivhus.docx
Documentation/PG5501 - Embedded Systems - Eksamen - Drivhus.pdf
